{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'compare-rounds.css' %}">
{% endblock %}

{% block content %}
  <h1>Comparação de Rodadas</h1>
  <div class="diff-content">
    <div class="table-content">
      {% include "result-table.html" with name="radioFrequency" titles=radioFrequencyTitles rows=radioFrequency isDiff=True only %}
    </div>
    <div class="table-content">
      {% include "result-table.html" with name="performance" titles=performanceTitles rows=performance isDiff=True only %}
    </div>
  </div>
{% endblock %}