{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'versions.css' %}">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
  <h1>Versão 1</h1>
  <div class="action-buttons">
    <form action="/rounds/" method="post">
      {% csrf_token %}
      <button type="sumbit" class="execute btn btn-primary" name="version" value="versao 1">Executar</button>
    </form>
    <button type="button" class="btn btn-primary">Comparar Rodadas</button>
  </div>
  <table class="styled-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="styled-table-content">
      {% for round in rounds %}
      <tr>
        <td>{{ round.name }}</td>
        <td>{{ round.start|date:"d/m/Y" }} - {{ round.start|time:"h:i:s" }}</td>
        <td>{{ round.end|date:"d/m/Y" }} - {{ round.end|time:"h:i:s" }}</td>
        <td>{{ round.status | round_message }}</td>
        <td><a href="/round/{{round.id}}">OPEN</a> <a href="/export-round/{{round.id}}">EXPORT</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}