{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/round.css' %}">
{% endblock %}

{% block content %}
  <h1>Rodada 1 - Versão 1</h1>
  <div class="action-buttons">
    <form action="/rounds/" method="post">
      {% csrf_token %}
      <button type="sumbit" class="btn btn-primary" name="version" value="1">Reiniciar</button>
    </form>
    <form action="/finish_round" method="post">
        {% csrf_token %}
        <button type="sumbit" class="btn btn-primary">Finalizar</button>
    </form>
  </div>
  <div class="round-content">
    <div class="round-result">
        <table class="styled-table">
          <thead>
              <tr>
                  <th>time</th>
                  <th>name</th>
                  {% for measurement in measurements %}
                  <th>{{ measurement }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody id="styled-table-content">
          </tbody>
        </table>
    </div>
    <div class="round-configuration">
        <div class="status-bar alert alert-primary" role="alert">
            Executando
        </div>
    </div>
  </div>
  <script src="{% static 'js/round.js' %}"></script>
{% endblock %}