{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'version.css' %}">
  <link rel="stylesheet" href="{% static 'table.css' %}">
{% endblock %}

{% block content %}
  <h1>Versão 1</h1>
  <div class="action-buttons">
    <form action="/rounds/" method="post">
      {% csrf_token %}
      <button type="sumbit" class="execute btn btn-primary" name="version" value="versao 1">Executar</button>
    </form>
    <button type="button" class="btn btn-primary">Comparar Rodadas</button>
  </div>
  <table class="styled-table">
    <thead>
        <tr>
            <th>name</th>
            <th>start</th>
            <th>end</th>
            <th>status</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody id="styled-table-content">
      {% for round in rounds %}
      <tr>
        <td>{{ round.name }}</td>
        <td>{{ round.start }}</td>
        <td>{{ round.end }}</td>
        <td>{{ round.status }}</td>
        <td><a href="/round/{{round.id}}">OPEN</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}