{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'version.css' %}">
{% endblock %}

{% block content %}
  <h1>Versão 1</h1>
  <div class="action-buttons">
    <form action="/rounds/" method="post">
      {% csrf_token %}
      <button type="sumbit" class="execute btn btn-primary" name="version" value="1">Executar</button>
    </form>
    <button type="button" class="btn btn-primary">Comparar Rodadas</button>
  </div>

  <script>
    const BASE_URL = window.location.origin;
    const ROUND_ENDPOINT = "/rodada";

    const getDefaultHeaderToRequest = () => {
        const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;;
        const headers = new Headers();
        headers.append('X-CSRFToken', csrfToken);
        return headers;
    }

    const postRound = async (versionID) => {
      const url = `${BASE_URL}${ROUND_ENDPOINT}`;
      const headers = getDefaultHeaderToRequest();

      const response = await fetch(url, {
          method: 'post',
          body: {
              version: versionID
          },
          headers: headers,
          credentials: 'include'
      });

      if(!response.ok){
          throw response.statusText
      }
    }

    const executeRound = async () => {
      try {     
          await postRound(1);
      } catch(err) {
          console.error(`Error: ${err}`);
      }
    };

  // Managing DOM elements
  /*
  const executeRoundButton = document.getElementById('execute-round-button');
  executeRoundButton.addEventListener('click', executeRound);
  */
  </script>
{% endblock %}