.action-buttons {
    display: flex;
    margin-bottom: 20px;
}

.btn {
    margin-right: 20px;
}

.round-content {
    display: grid;
    grid-template-columns: 60% 40%;
}

.round-result {
    padding-right: 5px;
}

.result {
    height: 70vh;
    overflow: scroll;
}

.round-graph {
    padding-left: 5px;
}

.chart {
    height: 30vh !important;
}