<h3>Criar Links</h3>
<div id="link"  class="form-group">
  <div class="form-group">
    <label for="conn">conection</label>
    <input type="text" name="conn" class="form-control" id="conn">
    <label for="delay">delay</label>
    <input type="text" name="delay" class="form-control" id="delay">
    <label for="loss">loss</label>
    <input type="text" name="loss" class="form-control" id="loss">
    <label for="maxqueue">maxqueue</label>
    <input type="text" name="maxqueue" class="form-control" id="maxqueue">
    <label for="jitter">jitter</label>
    <input type="text" name="jitter" class="form-control" id="jitter">
    <label for="speedup">speedup</label>
    <input type="text" name="speedup" class="form-control" id="speedup">
  </div>
</div>
<div id="model-not-supported" class="hidde-element alert alert-primary" role="alert">Modelo de mobilidade ainda não suportado</div>