<h3>Modelo de mobilidade</h3>
<div class="form-group">
  <label for="mobilityModel">Selecione o Modelo de mobilidade</label>
  <select class="form-control" onchange="onmobilityModelSelect(this)" name="mobilitymodel" id="mobilityModel">
    {% for model in mmodels %}
    <option value="{{model.name}}">{{model.displayname}}</option>
    {% endfor %}
  </select>
</div>
<div id="randomdirection"  class="hidde-element form-group" style="display: none;">
  <div class="form-group">
    <input type="hidden" name="randomdirectionattribute" value="seed,min_velocidade,max_velocidade,min_x,max_x,min_y,max_y,min_z,max_z">
    <div class="row">
      <div class="col">
        <label for="ifprop">seed</label>
        <input type="number" name="seed" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">min_velocidade</label>
        <input type="number" name="min_velocidade" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">max_velocidade</label>
        <input type="number" name="max_velocidade" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">min_x</label>
        <input type="number" name="min_x" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">max_x</label>
        <input type="number" name="max_x" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">min_y</label>
        <input type="number" name="min_y" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">max_y</label>
        <input type="number" name="max_y" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">min_z</label>
        <input type="number" name="min_z" class="form-control" id="ifprop">
      </div>
      <div class="col">
        <label for="ifprop">max_z</label>
        <input type="number" name="max_z" class="form-control" id="ifprop">
      </div>
    </div>
  </div>
</div>
<div id="model-not-supported" class="hidde-element alert alert-primary" role="alert">Modelo de mobilidade ainda não suportado</div>
<script>

var currentmobilityModelName = "randomdirection";
changemobilityModelForm(currentmobilityModelName);

function onmobilityModelSelect(selectSrc) {
  let mobilityModelName = selectSrc.value;
  changemobilityModelForm(mobilityModelName);
  currentmobilityModelName = mobilityModelName;
}


function changemobilityModelForm(newmobilityModel) {
  document.getElementById(currentmobilityModelName).style.display = "none";

  let newElement = document.getElementById(newmobilityModel);
  if(!newElement){
    newElement = document.getElementById("model-not-supported");
  }

  newElement.style.display = "inline-block";
}

</script>
