<h3>Rede</h3>
<div class="row">
    <div class="col">
        <label for="adhoc">A rede será adhoc?</label>
        <input type="checkbox" name="adhoc" id="adhoc">
    </div>
    <div class="col">
        <label for="fading_cof">Fading Coeficient</label>
        <input type="number" name="fading_cof" class="form-control" id="fading_cof" placeholder="0">
    </div>
    <div class="col">
        <label for="noise_th">noise threshold</label>
        <input type="number" name="noise_th" class="form-control" id="noise_th" placeholder="-91">
    </div>
</div>

<script>
function fillNetwork(network){
    console.log(network);
}
</script>