<h3>Nós da Rede</h3>
<div class="form-group">
  <label for="Node">Selecione o Modelo de mobilidade</label>
  <select class="form-control" onchange="onnodeSelect(this)" name="nodeselected" id="Node">
    <option value="station">Estação</option>
    <option value="host">Host</option>
    <option value="accesspoint">Access Point</option>
    <option value="switch">Switch</option>
  </select>
</div>
<div id="station"  class="hidde-element form-group" style="display: none;">
    <div class="form-group">
      <label id="name" for="namestation">name</label>
      <input type="text" name="stationname" class="form-control" id="namestation">
      <label id="mac" for="mac">mac address</label>
      <input type="text" name="stationmac" class="form-control" id="mac">
      <label id="ip" for="ip">ip</label>
      <input type="text" name="stationip" class="form-control" id="ip">
    </div>
</div>
<div id="accesspoint"  class="hidde-element form-group" style="display: none;">
    <div class="form-group">
      <label id="name" for="nameaccess">name</label>
      <input type="text" name="accesspointname" class="form-control" id="nameaccess">
      <label id="name" for="ssidlb">ssid</label>
      <input type="text" name="accesspointssid" class="form-control" id="ssidlb"> 
      <label id="name" for="mode">mode</label>
      <input type="text" name="accesspointmode" class="form-control" id="mode">
      <label id="name" for="channel">channel</label>
      <input type="text" name="accesspointchannel" class="form-control" id="channel">
    </div>
</div>
<div id="host"  class="hidde-element form-group" style="display: none;">
    <div class="form-group">
      <label id="name" for="namehost">name</label>
      <input type="text" name="hostname" class="form-control" id="namehost">
      <label id="name" for="mac">mac address</label>
      <input type="text" name="hostmac" class="form-control" id="mac">
      <label id="name" for="ip">ip</label>
      <input type="text" name="hostip" class="form-control" id="ip">
    </div>
</div>
<div id="switch"  class="hidde-element form-group" style="display: none;">
    <div class="form-group">
      <label id="type" for="typeswitch">type</label>
      <input type="text" name="switchtype" class="form-control" id="typeswitch">
      <label id="name" for="switchname">name</label>
      <input type="text" name="switchname" class="form-control" id="switchname">
    </div>
</div>



<script>

var currentNodeType = "station";
changeNodeForm(currentNodeType);

function onnodeSelect(selectSrc) {
  let nodeType = selectSrc.value;
  changeNodeForm(nodeType);
  currentNodeType = nodeType;
}


function changeNodeForm(newNodeType) {
  document.getElementById(currentNodeType).style.display = "none";

  let newElement = document.getElementById(newNodeType);
  

  newElement.style.display = "inline-block";
}

</script>
