<h3>Modelo de propagação</h3>
<div class="form-group">
  <label for="PropagationModel">Selecione o Modelo de propagação</label>
  <select class="form-control" onchange="onPropagationModelSelect(this)" name="propagationmodel" id="PropagationModel">
    {% for model in pmodels %}
    <option value="{{model.name}}">{{model.displayname}}</option>
    {% endfor %}
  </select>
</div>
<div id="logDistance"  class="hidde-element form-group">
  <div class="form-group">
    <input type="hidden" name="logDistanceattribute" value="exponent">
    <label value="exponent" for="exponent">Exponent</label>
    <input type="number" name="exponent" class="form-control" id="exponent">
  </div>
</div>
<div id="friis"  class="hidde-element form-group"></div>
<div id="model-not-supported" class="hidde-element alert alert-primary" role="alert">Modelo de Propagação ainda não suportado</div>

<script>

var currentPropagationModelName = "logDistance";
changePropagationModelForm(currentPropagationModelName);

function onPropagationModelSelect(selectSrc) {
  let propagationModelName = selectSrc.value;
  changePropagationModelForm(propagationModelName);
  currentPropagationModelName = propagationModelName;
}


function changePropagationModelForm(newPropagationModel) {
  document.getElementById(currentPropagationModelName).style.display = "none";

  let newElement = document.getElementById(newPropagationModel);
  if(!newElement){
    newElement = document.getElementById("model-not-supported");
  }

  newElement.style.display = "inline-block";
}

function fillPropagationModel(propagationModel){
  var model = propagationModel.model;
  document.getElementById("PropagationModel").value = model;
  currentPropagationModelName = model;
  changePropagationModelForm(model);

  for(var arg in propagationModel.args){
    document.getElementsByName(arg)[0].value = propagationModel.args[arg];
  }
}

</script>

