{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'version.css' %}">
{% endblock %}

{% block content %}
  <h1>Criar Versão para {{testPlan.name}}</h1>
  <form action="/versions/{{testPlan.id}}" method="get">
    <button class="btn btn-primary">Voltar para Versões</button>
  </form>
  <form id="network-form" action="/version/" method="POST" onsubmit="return processNodes();">
    {% csrf_token %}
    <div class="form-group row">
      <label for="version_name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="version_name" name="version_name" placeholder="Versão 1">
    </div>
    <input type="hidden" name="test-plan" value="{{testPlan.id}}">

    {% include "configuration.html" with pmodels=pmodels mmodels=mmodels measures=measures only %}

    <div class="submit-button d-grid gap-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" onclick="processNodes()">teste</button>
    </div>
    {% if error %}
      <div id="status-bar" class="alert alert-primary" role="alert">{{ errorMessage }}</div>
    {% endif %}
  </form>

  <script>
    function generateInputsOfNode(node){
      var element = document.createElement("div");
      var inputType = document.createElement("input");
      inputType.setAttribute('name', node.id + "-type");
      inputType.setAttribute('value', node.type);
      element.appendChild(inputType);

      for(var prop in node.props){
        var input = document.createElement("input");
        input.setAttribute('name', node.id + "-" + prop);
        input.setAttribute('value', node.props[prop]);
        element.appendChild(input);
      }

      return element;
    }

    function processNodes(){
      var parent = document.getElementById("network-form");
      var nodes = [];

      if(currentNodes == {}){
        alert("nenhum nó configurado");
        return false;
      }

      for(var nodeID in currentNodes){
        nodes.push(nodeID);
        parent.appendChild(generateInputsOfNode(currentNodes[nodeID]));
      }

      var input = document.createElement("input");
      input.setAttribute('name', 'nodes');
      input.setAttribute('value', nodes.toString());
      parent.appendChild(input);

      return true;
    }
  </script>
{% endblock %}