{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'version.css' %}">
{% endblock %}

{% block content %}
  <h1>Criar Versão para {{testPlan.name}}</h1>
  <form action="/versions/{{testPlan.id}}" method="get">
    <button class="btn btn-primary">Voltar para Versões</button>
  </form>
  <form action="/version/" method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label for="version_name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="version_name" name="version_name" placeholder="Versão 1">
    </div>
    <input type="hidden" name="test-plan" value="{{testPlan.id}}">

    {% include "configuration.html" with pmodels=pmodels mmodels=mmodels measures=measures only %}

    <div class="submit-button d-grid gap-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    {% if error %}
      <div id="status-bar" class="alert alert-primary" role="alert">{{ errorMessage }}</div>
    {% endif %}
  </form>
{% endblock %}